<html>
 <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    {% set active_page="about" %}
    {% include "standardheader.html" %}
    <br>

  <strong>What is Bibliosaur?</strong>
  <br><br>
  Bibliosaur is a best effort price watcher designed to provide users with the 
  best possible prices on the books they want.
  <br><br>
  
  <strong>How do I log onto Bibliosaur?</strong>
  <br><br>
  Bibliosaur is powered by the Google App Engine.  
  This means that you can login with your google account.
  We're sorry, but if you do not have a google account, Bibliosaur is 
  not available to you at this time.
  <br><br>
  
  <strong>How do I get started?</strong>
  <br><br>
  Click on the "My Books" menu item at the top of this page.  
  From there you can search for books you are interested in.  
  On the search page you can select which books and formats you would like monitored.
  When a book is available at or below the price you have selected, 
  Bibliosaur will send you and email letting you know where you can purchase the book. 
  If multiple formats are available at or below the price you have requested, 
  then Bibliosaur will include all of the formats in your email. 
  <br><br>
  If you would like to monitor books on your own, without receiving email, just archive your books. 
  Bibliosaur will continue to update the lowest prices whenever you reload the page.  
  Bibliosaur will also highlight those books currently available at the prices you've requested.
  <br><br>
  
  <strong>Where does Bibliosaur get its prices and book information?</strong>
  <br><br>
  Bibliosaur acquires most of its book information from <a href="http://www.goodreads.com">Goodreads</a>.  
  Currently Bibliosaur searches for prices at Amazon and Google Play.  
  In the near future it will also begin searching Barnes and Noble and IndieBound.
  Longer term plans include searching for Kobo books.
  <br><br>
  
  <strong>What does Bibliosaur have planned for the future?</strong>
  <br><br>
  A couple of future plans include: <br>
  More customizability - allowing users to change notification preferences<br>
  Easier addition of books - importing GoodReads shelves and Amazon wishlists<br>
  An improved interface - sortable columns<br>
  Improved browsing - a page dedicated to deals other Bibliosaurs have found
  <br><br>
  
  <strong>How can I support Bibliosaur?</strong>
  <br><br>
  Bibliosaur is a free service.  
  However, Bibliosaur does earn a small commission when you purchase items through the links provided.
  <br><br>
  
  <strong>I've got some ideas for improvements or I've found some bugs, how can I contact Bibliosaur?</strong>
  <br><br>
  Email us at:  lis@bibliosaur.com
  <br><br>
  
    
  

  {% include "standardfooter.html" %}
  </body>
</html>