

<html>
 <head>
    <script src="js/bibliosaur.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"></link>
  </head>
  <body onLoad = "LoadAuthors()">
    {% set active_page="myauthors" %}
    {% set active_tab="myauthors" %}
    {% include "standardheader.html" %}
    <br>

{% if loggedin %}
    
    {% include "authorsmenu.html" %}
    {% set authors = visibleauthors %}
    
    <span class="invisible" id="status"></span>
    <div id="authorlist">

    </div>


{% else %}
    {% include "notloggedin.html" %}
{% endif %}
  {% include "standardfooter.html" %}
  </body>
</html>