

<html>
 <head>
    <script src="js/bibliosaur.js" type="text/javascript"></script>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    {% set active_page="deals" %}
    {% include "standardheader.html" %}
    <br>

    {% set active_tab="coupons" %}
    {% include "dealsmenu.html" %}
    
    <table class="booklist">
      <tr>
	    <th>Merchant</th>
		<th>Offer</th>
      </tr>
      {% for coupon in coupons %}
        <tr class={{ loop.cycle('odd', 'even') }}>
		  <td>{{ coupon.merchant }}</td>
		  <td><a href="{{ coupon.url }}">{{ coupon.offer }}</a></td>
        </tr>
      {% endfor %}
      
    </table>
    
  {% include "standardfooter.html" %}
  </body>
</html>